.header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    background-color:  #2f80ed;
    top: 64px;
    right: 0px;
    z-index: 0;
    /*Задаём свойства для цветного блока в шапке*/
  }