.feinman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: black;
    transition: .5s ease-out;
    /* Свойства ссылки четвёртого блока */
  }
  .feinman__link:hover {
    opacity: 0.5;
  }