.feinman__title {
    padding-top: 80px;
    margin: 0px auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    /* Свойства заголовка четвёртого блока */
  }