.oakley {
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Выравниваем блок с описанием по центру*/
  }