.header__subtitle {
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    margin: 0px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 2;
  /*Задаём свойства для подзаколовка*/
  }
  