.feinman__subtitle {
    margin: 70px auto 0px;
    width: 60%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    /* Свойства подзаголовка четвёртого блока */
  }