.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #1f1f1f;
    color: white;
    box-sizing: border-box;
}

.footer__author {
    color: black;
    line-height: 1.25;
    font-size: 18px;
    font-weight: normal;
}
