.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* задаём стили для первого блока сайта*/
}

.description {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Выравниваем блок с описанием по центру*/
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  /*Задаём свойства для второго блока с текстом*/
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  /* Задаём свойства таблиц*/
}

.feinman {
  margin-top: 100px;
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  background: #f2f2f2 url(../images/feynman.png) no-repeat 0 100%;
  background-size: 867px 637px;
  /*Свойства четвёртого блока*/
}

.kaufman {
  position: relative;
  background: #1f1f1f url(../images/kaufman-triangle.svg) no-repeat 933px 0%/877px;
  overflow: hidden;
  z-index: 0;
  /*Свойства пятого блока
  Позиционирование фонового изображения ведётся от левого нижнего угла. Ширина блока 1600, отнимаем ширину 
  изображения 877 и прибавляем необходимый отступ 210, заданный брифом*/
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  /*Свойства подвала сайта*/
}

.logo_place_header { 
  top: 30px;
  left: 64px;
  position: absolute;
  /*Устанавливаем позиционирование для логотипа в шапке*/
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  line-height: 96px;
  padding-left: 64px;
  align-self: center;
  margin: 0;
  /*Задаём свойства для главного заколовка*/
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  margin: 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
/*Задаём свойства для подзаколовка*/
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  /*Убираем подчёркивание у ссылки в шапке сайта*/
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  /*Задаём свойства для картинки в шапке*/
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
  top: 64px;
  right: 0px;
  z-index: 0;
  /*Задаём свойства для цветного блока в шапке*/
}

.two-columns__brief {
  margin:0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  /*Задаём свойства для левой части второго блока*/
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
  min-height: auto;
    /*Задаём свойства для основного текста второго блока*/
}

.two-columns__paragraph {
  margin: 0px 0px 30px 0px;
    /*Задаём междустрочный интервал в 30px у параграфов*/
}

.two-columns__main-text :last-child{
  margin-bottom: 0px;
  /* убираем нижний отступ у последнего параграфа*/
  }

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  /*Задаём свойства выделенному элементу текста*/
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
    /*Задаём свойства заголовку второго блока*/
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px auto 0;
  /*Задаём свойства подзаголовку второго блока*/
}

.table__cell {
  list-style-type: none;
  margin-top: 60px;
  width: 250px;
  /*Убираем маркировку списка у элементов таблицы */
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  /*Свойства заголовков таблицы */
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
  /*Свойства текста таблицы*/
}

.feinman__title {
  padding-top: 100px;
  margin: 0px auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  /* Свойства заголовка четвёртого блока */
}

.feinman__subtitle {
  margin: 70px auto 0px;
  width: 60%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  /* Свойства подзаголовка четвёртого блока */
}

.feinman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  /* Свойства ссылки четвёртого блока */
}

/* и элемента с модификатором вида ключ-значение */
.section-title_theme_dark {
  margin: 0 auto;
  padding-top: 90px;
  color: white;
}

.section-subtitle_theme_dark {
  margin: 20px auto 0;
  color: white;
}

.table_theme_dark {
  
  padding: 0;
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* Свойства для элементов тёмной таблицы */
.footer__columns { 
  color:  white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 250px;
  width: 90%;
  /*Свойства блока подвала сайта с элементами */
  /*Для этого и создавал дополнительный класс _width, потому что не заметил, что было разделение на footer__column и footer__columns
  Иначе width задавался всем элементам*/
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  /*Свойства первого столбца*/
}

.logo_place_footer {
 width: 183px;
 height: 35px;
  /*Свойства логотипа подвала*/
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /*Свойства текста с авторством*/
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  /*Свойства заголовков подвала*/
}

.footer__column-links {
  color: #2f80ed;
  display: block;
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  /*Свойства второго и третьего столбца элементов подвала*/
}

.footer__social-icon{
  margin: 0 10px 0 0;
  /*Свойства иконок подвала*/
}
.footer__column-link {
  color: white;
  text-decoration: none;
}