.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 100px;
    /* Задаём свойства таблиц*/
}

.table_theme_dark {
    padding: 0;
    margin: 0 auto 90px;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0 0;
    /*Свойства текста таблицы*/
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    /*Свойства заголовков таблицы */
}

.table__cell {
    list-style-type: none;
    margin-top: 60px;
    width: 250px;
    /*Убираем маркировку списка у элементов таблицы */
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
